*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
    background-image: url("back.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.in{
    margin-left: 200px;
    margin-top: 50px;
    padding: 10px;
}
input{
    width: 300px;
    border: none;
    border-bottom: 1px solid black;
    height: 40px;
    background:none;
    text-indent: 10px;
}
label{
    font-size: 20px;
}
label,input{
    margin-left: -80px;
}
.total{
    margin-top: 20px;
    background-color: #e2eff1;
    margin-left: 500px;
    margin-right: 500px;
    height: 550px;
    border-radius: 30px;
    border: 1px solid black;
    overflow: hidden;
}
button{
    margin-left: 200px;
    width: 150px;
    height: 30px;
    background-color:beige;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
}
button:hover{
    background-color:#ff6f91;
    border: 1px solid black;
}
.pass{
    padding-left: 130px;
}
a{
    text-decoration: none;
    color: blueviolet;
}
h1{
    text-align: center;
    margin-top: 40px;
    color: #e2eff1;
}
.stu{
    margin-left: 40px;
    position: absolute;
    background-color: #e2eff1;
    opacity: 0.8;
    color: black;
    padding: 15px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

}
.stu:hover{
    background-color: #ff6f91;
    color: black;
}
.logo {
    position: relative;
    animation: slideIn 0.4s ease-out forwards;
}
.pas{
    margin-left: 95px;
}
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.total{
    animation: blink 2s;
}
@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

